<app-top-admin></app-top-admin>
<app-nav-user></app-nav-user>
<div class="container">
    <h3>Pdf</h3>
    <div class="card">
        <div class="card-body">
            <table class="table table-striped  " id="tb">
                <thead>
                    <tr style="background-color: rgb(173, 205, 234);">
                        <th scope="col"></th>
                        <th scope="col">PDF</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" style="background-color: rgb(173, 205, 234);">1</th>
                        <td>titulo.pdf</td>

                        <td>
                            <button type="button" class="btn btn-primary">Send</button>
                            <button type="button" class="btn btn-warning">Sign</button>
                            <button type="button" class="btn btn-danger">Delete</button>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="background-color: rgb(173, 205, 234);">2</th>
                        <td>titulo.pdf</td>
                        <td>
                            <button type="button" class="btn btn-primary">Send</button>
                            <button type="button" class="btn btn-warning">Sign</button>
                            <button type="button" class="btn btn-danger">Delete</button>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="background-color: rgb(173, 205, 234);">3</th>
                        <td>titulo.pdf</td>
                        <td>


                            <button type="button" class="btn btn-primary">Send</button>
                            <button type="button" class="btn btn-warning">Sign</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>