<div class="container">
    <div class="card text-center">

        <div class="card-header">

            <ul class="nav nav-tabs flex-column flex-sm-row">
                <li class="nav-item"> <a class="flex-sm-fill text-sm-center nav-link " data-bs-toggle="tab"
                        href="#users" aria-current="page" >Users</a></li>
                <li class="nav-item"> <a class="flex-sm-fill text-sm-center nav-link " data-bs-toggle="tab"
                        href="#pdf">Pdf</a></li>
                <li class="nav-item"> <a class="flex-sm-fill text-sm-center nav-link " data-bs-toggle="tab"
                        href="#templates">Templates</a></li>
                <li class="nav-item"> <a class="flex-sm-fill text-sm-center nav-link " data-bs-toggle="tab"
                        href="#images">Images</a></li>
            </ul>
        </div>



        <div class="tab-content">


            <!-- body card tab users -->
            <div class="tab-pane fade" id="users">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <br><br>

                    <div>


                        <div class="btn-group w-100">
                            <form [formGroup]="formSearch" #f="ngForm">
                                <select class="form-select form-select-lg mb-3 " [(ngModel)]='default'
                                    (change)="onChange(f)" formControlName="options"
                                    style="width: 150px; background-color: aliceblue;">
                                    <option value="select">Option</option>
                                    <option value="userid">ID</option>
                                    <option value="username">Usename</option>
                                    <option value="email">Email</option>
                                </select>
                            </form>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="{{valuePlaceholder}}"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-primary" type="button" id="button-addon2"
                                    *ngIf="valuePlaceholder=='userid'" (click)="userByID();">Search</button>
                                <button class="btn btn-primary" type="button" id="button-addon2"
                                    *ngIf="valuePlaceholder=='username'" (click)="userByName();">Search</button>
                                <button class="btn btn-primary" type="button" id="button-addon2"
                                    *ngIf="valuePlaceholder=='email'" (click)="userByEmail();">Search</button>
                            </div>

                        </div>


                        <br><br>
                        <table class="table table-striped table-bordered border-primary " id="tb">
                            <thead>
                                <tr style="background-color: rgb(173, 205, 234);">
                                    <th scope="col">ID</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let u of users">
                                    <th style="background-color: aliceblue;">{{u.id}}</th>
                                    <td>{{u.username}}</td>
                                    <td>{{u.email}}</td>
                                    <td>aqui va el rol?</td>
                                    <td>
                                        <table>
                                            <th> <button type="button" class="btn btn-danger" scope="col"><i
                                                        class="bi bi-trash-fill"></i></button></th>
                                            <th> <button type="button" class="btn btn-warning" scope="col"><i
                                                        class="bi bi-pencil-square"></i></button>
                                            </th>
                                            <th> <button type="button" class="btn btn-success" scope="col"><i
                                                        class="bi bi-eye-fill"></i></button>
                                            </th>

                                        </table>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!--paginación -> la hacemos con module de angular,pero por ahora para la vista, pongo esta-->

                    </div>
                </div>
            </div>

            <!--body card tab templates-->
            <div class="tab-pane fade" id="templates">
                <div class="card-body">
                    <br>
                    <h5 class="card-title">Templates</h5>
                    <br>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Title" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Template ID"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="User ID" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Group ID" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                    </div>
                    <br><br>
                    <table class="table table-striped table-bordered border-primary " id="tb">
                        <thead>
                            <tr style="background-color: rgb(173, 205, 234);">
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Src</th>
                                <th scope="col">Title</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-warning">Update</button>

                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-warning">Update</button>

                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                                <td>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-warning">Update</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--paginación -> la hacemos con module de angular,pero por ahora para la vista, pongo esta-->

                </div>
            </div>

            <!--body card tab images-->
            <div class="tab-pane fade" id="images">
                <div class="card-body">
                    <br>
                    <h5 class="card-title">Images</h5>
                    <br>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="User ID" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Group ID" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Image ID" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                    </div>
                    <br><br>
                    <table class="table table-striped table-bordered border-primary " id="tb">
                        <thead>
                            <tr style="background-color: rgb(173, 205, 234);">
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Src</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>

                                <td>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-warning">Update</button>

                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>

                                <td>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-warning">Update</button>

                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry the Bird</td>
                                <td>@twitter</td>

                                <td>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-warning">Update</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--paginación -> la hacemos con module de angular,pero por ahora para la vista, pongo esta-->

                </div>
            </div>
        </div>



        <!--body card tab pdf-->
        <div class="tab-pane fade" id="pdf">
            <div class="card-body">
                <br>
                <h5 class="card-title">PDF</h5>
                <br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Title" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="PDF ID" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="User ID" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                </div>

                <br><br>
                <table class="table table-striped table-bordered border-primary " id="tb">
                    <thead>
                        <tr style="background-color: rgb(173, 205, 234);">
                            <th scope="col">ID</th>
                            <th scope="col">Date</th>
                            <th scope="col">Src</th>
                            <th scope="col">Title</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>
                                <button type="button" class="btn btn-danger">Delete</button>
                                <button type="button" class="btn btn-warning">Update</button>

                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>
                                <button type="button" class="btn btn-danger">Delete</button>
                                <button type="button" class="btn btn-warning">Update</button>

                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                            <td>
                                <button type="button" class="btn btn-danger">Delete</button>
                                <button type="button" class="btn btn-warning">Update</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--paginación -> la hacemos con module de angular,pero por ahora para la vista, pongo esta-->

            </div>

        </div>


    </div>
    <br> <br>

</div>