<div class="container">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col-2"><a href="#new_image"><button class="btn btn-primary rounded-pill" data-bs-toggle="modal"
                    data-bs-target="#new_image"> Add </button></a></div>

    </div>
    <br>
    <div class="card" >
        <div class="card-body">
            <div class="row  row-cols-1 row-cols-md-4 g-4" >
                <div class="col" *ngFor="let i of imgs">
                    <div class="card" >

                        <div class="card-body" style="background-color:#99b8cc ;">
                            <img src="{{i.src}}" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="new_image" tabindex="-1" aria-labelledby="loginModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-gradient-primary-to-secondary p-4">
                    <h5 class="modal-title font-alt text-white" id="lenguageModelLabel">Choose Image</h5>
                    <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body border-0 p-4">
                    <form id="contactForm">
                        <p>Click on the "Choose File" button to upload your image:</p>
                        <br>
                        <form action="/action_page.php">
                            <input type="file" id="myFile" name="filename">
                            <input type="submit">
                        </form>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
