<app-top-admin></app-top-admin>
<app-nav-user></app-nav-user>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" id="card_components">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Components</h5>
                    </div>
                    <ul>
                        <li>title</li>
                        <li>subtitle</li>
                        <li>input</li>
                        <li>label</li>
                        <li>separator invisible</li>
                        <li>separator line</li>
                        <li>image container</li>
                        <li>row</li>
                        <li>column</li>
                        <li>list</li>



                    </ul>

                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="card">
                <div class="card-body" style="background-color:#99b8cc ;">
                    <div class="card">
                        <div class="card-body" style="width:400px ; height:800px;">

                        </div>
                    </div>
                    <br>
                    <button class="btn btn-success rounded-pill">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>

<br>