<div class="container">

    <h3>My Profile</h3>

    <br>
    <div class="card">
        <div class="card-body">
            <br>
            <div class="card-title">
                <h3>Name User</h3>
                <div class="card">
                    <div class="card-body">
                        <!-- Name input-->
                        <label for="name" class="form-label">Username</label>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                                data-sb-validations="required" value="info de la db" />

                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <label for="email" class="form-label">Email address</label>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com"
                                data-sb-validations="required,email" value="info de la db" />

                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.
                            </div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>

                        <label for="password" class="form-label">Password</label>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" type="password" placeholder=""
                                data-sb-validations="required" value="info de la db" />
                            <div class="invalid-feedback" data-sb-feedback="password:required">A password is
                                required.</div>
                        </div>

                        <label for="password" class="form-label">Confirm Password</label>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" type="password" placeholder=""
                                data-sb-validations="required" />
                            <div class="invalid-feedback" data-sb-feedback="password:required">A password is
                                required.</div>
                        </div>
                        <br>
                        <button class="btn btn-primary rounded-pill" data-bs-toggle="modal"
                            data-bs-target="#modify_profile">
                            Modify </button>
                    </div>
                </div>

            </div>
            <br>

        </div>
    </div>

</div>