<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-2"><a routerLink="/new-template"><button class="btn btn-primary rounded-pill" > New </button></a></div>
     
    </div>


    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-title">
                            <p>--Titulo de la plantilla--</p>

                        </div>
                        <div class="card-body" style="background-color:#99b8cc ;">
                            <p>
                                previsualización plantilla???
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-title">
                            <p>--Titulo de la plantilla--</p>

                        </div>
                        <div class="card-body" style="background-color:#99b8cc ;">
                            <p>
                                previsualización plantilla???
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-title">
                            <p>--Titulo de la plantilla--</p>

                        </div>
                        <div class="card-body" style="background-color:#99b8cc ;">
                            <p>
                                previsualización plantilla???
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br><br>
</div>