<footer class="bg-black text-center py-5">
  <div class="container px-5">
      <div class="text-white-50 small">
          <div class="mb-2">&copy; EasyTemplates 2022. All Rights Reserved.</div>
          <a routerLink="contact">Contact</a>
          <!-- -> COMPONENT DEL MODEL WELCOME (una página con nuestras fotos, nombres e info de  contacto)-->
          <span class="mx-1">&middot;</span>
          <a href="#!">Cookies</a>
          <!-- -> COMPONENT DEL MODEL WELCOME (opcional ponemos una pag o lo dejamos para futras impl )-->
          <span class="mx-1">&middot;</span>
          <a href="#!">Privacy</a>
          <!-- -> COMPONENT DEL MODEL WELCOME (opcional ponemos una pag o lo dejamos para futras impl )-->
          <span class="mx-1">&middot;</span>
          <a href="#!">FAQ</a><!-- futuras impl-->
      </div>
  </div>
</footer>
